.about {
    margin-bottom: 10%;
}

.aboutText {
    text-align: center;
}

.articleWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articleWrapper article {
    width: 31%;
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
        display: block;
    }
}

.aboutText {
    padding: 0 7.5%;
    margin: 10% 0 5% 0;
    h2 {
        margin-bottom: 2%;
        padding: 0;
        line-height: 26px;
    }
    p {
        margin: 0;
        padding: 0;
        line-height: 30px;
        color: #777777;
        font-style: italic;
        font-size: 17px;
        &:after {
            content:"";
            border-bottom: 1.5px solid $secondaryColor;
            padding-top: 2.5%;
            width: 7.5%;
            height: 1px;
            display: block;
            margin: auto;
        }
    }
}

.articleText {
    padding: 10% 7.5%;
    box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
    transition: box-shadow 0.5s ease;
    p {
        margin-top:0;
        
    }
}

.articleText:hover {
    box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
}


.articleText p:first-of-type {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.articleText p:last-of-type {
    color: #777777;
    font-size: 14px;
    line-height: 26px;
}

.articleText a {
    text-decoration: none;
    color: $secondaryColor;
    font-style: italic;
    font-family: $accentFont;
    transition: color 0.5s ease;
}

.articleText a:hover {
    color: $primaryColor;
}


// MEDIA QUERIES START


@media (max-width: 800px) {
    .articleWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .articleWrapper article {
        width: 80%;
        flex-wrap: wrap;
        margin-bottom: 9%;
        flex-direction: column;
        img {
            width: 100%;
        }
    .articleText {
        width: 100%;
        padding-top: 30%;
    }
    }
}



@media (max-width: 600px) {
    .wrapper{
        width: 95%;
    }

    .aboutText h2{
        margin-bottom: 5%;
        padding: 0;
        line-height: 40px;
    }

    .articleWrapper article .articleText {
        padding-top: 5%;
    }
    

    .articleWrapper article {
        width: 67%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}

@media (max-width: 400px) {
    .articleText {
        width: 100%;
        p:first-of-type {
            font-size: 14px;
        }
        p:last-of-type {
            font-size: 13px;
        }
    }

    .articleWrapper article .articleText {
        padding-top: 5%;
    }
}