header {
    background: url(././images/main-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

// BURGER NAV
a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: $secondaryColor;
}

#menuToggle
{
  position: relative;
  top: 50px;
  left: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 5%;
  display: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -10px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.87,0.2,0.55,1.0),
              background 0.5s cubic-bezier(0.87,0.2,0.55,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -75px;
  padding: 15px;
  padding-top: 150px;
  font-family: $baseFont;
  
  background: lighten($primaryColor, 4%);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 5.5px 35px;
  font-size: 25px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}


// VEGAN NAV
.headerNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px double rgba(255, 255, 255, 0.22);
}

.headerNavLogo {
    width: 30%;
    margin: 0.5% 0 2% 0;
}

.headerNav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin: 4% 0 2% 0;
    align-items: center;
    li {
        justify-content: space-between;

        a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        flex-wrap: wrap;
        }
    }
}

.searchIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $secondaryColor;
    display: flex;
    align-items: center;
}

.searchIcon {
    justify-content: center;
}

.arrow {
    height: 95px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.28);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.arrowLeft {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.arrowRight {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.headerMain {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(35%);
}

.headerMain svg {
    width: 60px;
    height: 60px;
    fill: white;
}

.buttonPrimary {
    margin-top: 2.5%;
    width: 215px;
    height: 50px;
    background-color: #e85889;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.headerMain p {
    font-size: 22px;
    font-style: italic;
}

.headerMain h1 {
    margin-bottom: 2%;
    width: 65%;
    &:first-of-type {
        width: 90%;
    }
}


@media (max-width: 1440px) {
    .wrapper {
        width: 70%;
    }
    .headerMain {
        transform: translateY(40%);
    }

}


@media (max-width: 1750px) {
    .wrapper {
        width: 80%;
    }

    .headerNav a {
        font-size: 13px;
    }

     .headerMain h1 {
        width: 80%;
        font-size: 35px;
    }

    .headerMain {
        transform: translateY(35%);
    }
}

@media (max-width: 1000px) {
    .headerNav {
        flex-direction: column;
        text-align: center;
    }

    .wrapper {
        width: 90%;
    }

    .headerMain {
        transform: translateY(20%);
    }

    .headerMain h1 {
        width: 85%;
        font-size: 35px;
    }
}


@media (max-width: 800px) {

    .headerNav {
        border: none;
    }

    .headerNav ul {
        li {
            padding: 1%;
            display: none;
        }
    }

    #menuToggle {
        display: block;
    }
    .headerMain h1 {
        font-size: 30px;
        margin: 0;
    }
    .headerMain p {
        font-size: 15px;
    }

    .searchIcon {
        display: none;
    }
    

}







