header {
    background: url(././images/main-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.headerNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px double rgba(255, 255, 255, 0.22);
}

.headerNavLogo {
    width: 30%;
    margin: 0.5% 0 2% 0;
}

.headerNav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin: 4% 0 2% 0;
    align-items: center;
    li {
        justify-content: space-between;

        a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        flex-wrap: wrap;
        }
    }
}

.searchIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $secondaryColor;
    display: flex;
    align-items: center;
}

.searchIcon {
    justify-content: center;
}

.arrow {
    height: 95px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.28);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.arrowLeft {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.arrowRight {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.headerMain {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(50%);
}

.headerMain svg {
    width: 60px;
    height: 60px;
    fill: white;
}

.buttonPrimary {
    margin-top: 2.5%;
    width: 215px;
    height: 50px;
    background-color: #e85889;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.headerMain p {
    font-size: 22px;
    font-style: italic;
}

.headerMain h1 {
    margin-bottom: 2%;
    width: 70%;
}


