.join {
    background: url(././images/purple-pattern-bg.png);
    height: 420px;
}

.joinText {
    padding-top: 5%;
    text-align: center;
    color: white;
    p {
        margin: 0 8%;
    }
}

.join form {
    margin-top: 5%;
    text-align: center;
    input.search {
        border: 1px solid white;
        border-right: none;
        border-radius: 5px 0 0 5px;
        background: transparent;
        width: 359px;
        color: white;
        text-transform: capitalize;
        padding-left: 3%;
        height: 51px;
    }
    input.subscribe {
        border: none;
        border-radius: 0 5px 5px 0;
        width: 174px;
        background: $secondaryColor;
        color: white;
        text-transform: uppercase;
        height: 55px;
    }
}


@media (max-width: 650px) {
    
    .joinText h2 {
        margin-bottom: 5%;
    }

    .joinText p {
        margin: 0;
    }
    
    .join form{
        font-size: 14px;
        input.search {
            width: 275px;
        }
        input.subscribe {
            width: 100px;
        }
    }
}


@media (max-width: 440px) {
    .join form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input.search {
            border-radius: 5px 5px;
            border-right: 1px solid white;
            margin-bottom: 1%;
        }
        input.subscribe {
            border-radius: 5px;
        }
    }

}
