.latestNews {
    padding: 5% 0;
}

.latestNewsText {
    text-align: center;
    margin-bottom: 7.5%;
    p {
        margin: 1% 0 0 0;
        font-size: 17px;
        color: $tertiaryColor;
        font-style: italic;
    }
    &:after {
        content:"";
        border-bottom: 1.5px solid red;
        padding-top: 3%;
        width: 7.5%;
        height: 1px;
        display: block;
        margin: auto;
    }
}

.newsGalleryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .newsItem {
        background-color:  #fafafa;
        height: 280px;
        text-align: left;
        a {
            font-family: $accentFont;

            &:not(:nth-child(2)) {
            height: 44px;
            width: 152px;
            font-size: 14px;
            background: $secondaryColor;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            display: block;
            margin: 0 auto auto 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            transition: background 0.5s ease;
            margin-top: 7.5%;
            }
        }
        img {
            display: block;
            width: 100%;
        }
        p {
            padding-left: 10%;
        }
        p:first-of-type {
            font-family: $baseFont;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 26px;
            margin-bottom:1%;
            text-transform: capitalize;
        }
        p:nth-of-type(2) {
            color:  #ababab;
            font-size: 13px;
            font-weight: 400;
            line-height: 26px;
            margin-top: 0;
             &:after {
                content:"";
                border-bottom: 1.5px solid #e0e0e0;
                padding-top: 3%;
                width: 20%;
                height: 1px;
                display: block;
                margin-bottom: 10%;
            }
        }
        p:last-of-type {
            font-size: 14px;
            color: $tertiaryColor;
            line-height: 26px;
        }
    }
}

.newsItem5Top {
    background: $primaryColor;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 100;
    font-size: 25px;
    a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        margin-top: 5%;
    }
}

.newsItem .newsItem5Bottom a.item5Link {
    margin-top: 17%;
}










