.schedule {
    background:#fafafa;
    padding-top: 5%;
    margin-top: 5%;
}

.asideAndFlexWrapper {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.scheduleText {
    text-align: center;
    margin-bottom: 7.5%;
    p {
        margin: 1% 0 0 0;
        font-size: 17px;
        color: $tertiaryColor;
        font-style: italic;
    }
    &:after {
        content:"";
        border-bottom: 1.5px solid red;
        padding-top: 3%;
        width: 7.5%;
        height: 1px;
        display: block;
        margin: auto;
    }
}

.scheduleFlexWrapper {
    display: flex;
    flex-direction: column;
    width: 71%;
    border-left: 1.5px dashed #ececec;
    margin-left: 2.5%;
}

.event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
    position: relative;
    &::before {
        top: 35%;
        position: absolute;
        width: 30px;
        border-bottom: 1.5px dashed #e0e0e0;
        content: "";
        display: inline-block;
        left: 1px;
    }
    h6 {
        font-weight: 700;
        line-height: 28px;
        margin: 1.5% 0;
        text-transform: capitalize;
    }
    img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-right: 2%;
        margin-left: 5%;
        border: 7px solid #ececec;
        position: relative;
    }
    p:first-of-type {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        font-family: $baseFont;
        span {
            color: $tertiaryColor;
            font-size: 13px;
            font-weight: 400;
            padding-left: 3%;
            text-transform: uppercase;
        }
    }
    p:last-of-type {
        color: $tertiaryColor;
        font-size: 13px;
        line-height: 24px;
        margin-top: 0;
    }
}

aside {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 22.5%;
}

.days {
    height: 90px;
    width: 280px;
    border: 1px solid #ececec;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background 0.5s ease;
    p:first-of-type {
        color: $tertiaryColor;
        margin: 0;
        font-size: 13px;
        font-weight: 400;
    }
    p:last-of-type {
        font-size: 18px;
        margin: 1% 0 0 0;
        font-weight: 500;
        text-transform: capitalize;
    }
}

.days:hover {
    background: $secondaryColor;
    p:first-of-type {
        color:  #f8c4d6;
    }
     p:last-of-type {
        color: white;
    }
}

.day3 {
    background: $secondaryColor;
    p:first-of-type {
        color:  #f8c4d6;
    }
    p:last-of-type {
        color: white;
    }
}

// .day3:hover {
//     background: white;
//      p:first-of-type {
//         color: $tertiaryColor;
//      }
//      p:last-of-type {
//         color: black;
//     }
// }


@media (max-width: 1440px) {
    .days {
        height: 90px;
        width: 250px;
    }
}