$primaryColor: #463f8c;
$secondaryColor: #e85889;
$tertiaryColor: #777777;

$baseFont: 'Raleway', sans-serif;
$accentFont: 'Poppins', sans-serif;


h1 {
 font-size: 40px;
 text-transform: uppercase;
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
 line-height: 60px;
 margin: 0;
 padding: 0;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Raleway';
    margin-bottom: 0;
}

h3 {
    
}

h4 {
    font-size: 20px;
    font-weight: 500;
    font-family: $baseFont;
    margin-bottom: 0;
}

h5 {

}

h6 {
    font-size: 18px;
    font-family: $baseFont;
    margin: 0;
}

p {
    font-family: $accentFont;
}