.wrapper {
    width: 60%;
    margin: 0 auto;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin remCalc($fontSize) {
   font-size: ($fontSize / 16) * 1rem;
}


@media (max-width: 1250px) {
    .wrapper {
        width: 90%;
    }
}
