article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 60%;
  margin: 0 auto; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 60px;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Raleway';
  margin-bottom: 0; }

h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0; }

h6 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin: 0; }

p {
  font-family: "Poppins", sans-serif; }

header {
  background: url(././images/main-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; }

.headerNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 4px double rgba(255, 255, 255, 0.22); }

.headerNavLogo {
  width: 30%;
  margin: 0.5% 0 2% 0; }

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 4% 0 2% 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .headerNav ul li {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .headerNav ul li a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.searchIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e85889;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.searchIcon {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.arrow {
  height: 95px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.28);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute; }

.arrowLeft {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.arrowRight {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.headerMain {
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

.headerMain svg {
  width: 60px;
  height: 60px;
  fill: white; }

.buttonPrimary {
  margin-top: 2.5%;
  width: 215px;
  height: 50px;
  background-color: #e85889;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 15px; }

.headerMain p {
  font-size: 22px;
  font-style: italic; }

.headerMain h1 {
  margin-bottom: 2%;
  width: 70%; }

.countdownSection {
  padding: 5% 0;
  background-color: #fafafa;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03); }

.countdownFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.numberFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.colon {
  height: 45px;
  width: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .colon p {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: "Poppins", sans-serif; }

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 37px;
  height: 45px;
  background: #333333;
  border-radius: 2px;
  margin: 0 1%; }
  .countdown p {
    color: white;
    font-size: 20px; }

.column1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 26%; }

.column1 p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #777777;
  padding-bottom: 3%; }

.column1 h3 {
  font-size: 26px;
  text-transform: uppercase;
  margin: 0;
  line-height: 33px;
  font-family: "Raleway", sans-serif; }

.time p {
  font-size: 15px;
  color: #777777;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0; }

.column3 button {
  width: 178px;
  margin: 0; }

.column3 button:first-of-type {
  background: #463f8c; }

.column3 button:last-of-type {
  margin-left: 4%; }

.about {
  margin-bottom: 10%; }

.aboutText {
  text-align: center; }

.articleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.articleWrapper article {
  width: 31%; }
  .articleWrapper article img {
    width: 100%;
    display: block; }

.aboutText {
  padding: 0 7.5%;
  margin: 10% 0 5% 0; }
  .aboutText h2 {
    margin-bottom: 2%;
    padding: 0;
    line-height: 26px; }
  .aboutText p {
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: #777777;
    font-style: italic;
    font-size: 17px; }
    .aboutText p:after {
      content: "";
      border-bottom: 1.5px solid red;
      padding-top: 2.5%;
      width: 7.5%;
      height: 1px;
      display: block;
      margin: auto; }

.articleText {
  padding: 10% 7.5%;
  -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease; }
  .articleText p {
    margin-top: 0; }

.articleText:hover {
  -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13); }

.articleText p:first-of-type {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.articleText p:last-of-type {
  color: #777777;
  font-size: 14px;
  line-height: 26px; }

.articleText a {
  text-decoration: none;
  color: #e85889;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

.articleText a:hover {
  color: #463f8c; }

.join {
  background: url(././images/purple-pattern-bg.png);
  height: 420px; }

.joinText {
  padding-top: 5%;
  text-align: center;
  color: white; }
  .joinText p {
    margin: 0 8%; }

.join form {
  margin-top: 5%;
  text-align: center; }
  .join form input.search {
    border: 1px solid white;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background: transparent;
    width: 359px;
    color: white;
    text-transform: capitalize;
    padding-left: 3%;
    height: 51px; }
  .join form input.subscribe {
    border: none;
    border-radius: 0 5px 5px 0;
    width: 174px;
    background: #e85889;
    color: white;
    text-transform: uppercase;
    height: 55px; }

.speakers {
  margin-bottom: 10%;
  position: relative; }

.speakersText {
  text-align: center; }
  .speakersText:after {
    content: "";
    border-bottom: 1.5px solid red;
    padding-top: 2.5%;
    width: 7.5%;
    height: 1px;
    display: block;
    margin: auto; }
  .speakersText h2 {
    margin: 10% 0 1% 0; }
  .speakersText p {
    font-size: 17px;
    font-style: italic;
    color: #777777;
    margin: 0;
    line-height: 26px; }

.speakersFlex {
  margin: 8% 0 6% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease; }
  .speaker img {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 100%; }

.speaker:hover {
  -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.93);
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.93); }

.speakerName {
  -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
  border-radius: 0 0 5px 5px; }

.speakerName p:first-of-type {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 5% 0 3% 0; }

.speakerName p:last-of-type {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0 0 8% 0; }

.speaker2 {
  background: #463f8c; }
  .speaker2 p:first-of-type {
    color: white; }
  .speaker2 p:last-of-type {
    color: #a6a0e3; }

.speakerPic2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.speakerSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  top: 80%; }

.social {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.5%; }

a.social {
  text-decoration: none;
  color: white; }

.twitter {
  background: #e85889; }

.circleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #463f8c;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.circle {
  margin: 3%; }

.middleCircle {
  color: #e85889;
  border: 1px solid #e85889;
  border-radius: 50%;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pricing {
  background: url(././images/pricing-image.png);
  background-repeat: no-repeat; }

.pricingText {
  padding-top: 10%;
  text-align: center;
  color: white; }
  .pricingText h2 {
    margin-bottom: 1%; }
  .pricingText p {
    margin-top: 0;
    font-style: italic;
    font-size: 17px; }
    .pricingText p:after {
      content: "";
      border-bottom: 1.5px solid red;
      padding-top: 2.5%;
      width: 7.5%;
      height: 1px;
      display: block;
      margin: auto; }

.pricingFlexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: white;
  margin-top: 5%;
  -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.05); }

.priceBox {
  text-align: center;
  background-color: #bad;
  border: 1px solid #ececec;
  width: 31%;
  margin: 2%;
  text-transform: capitalize; }
  .priceBox li {
    list-style: none;
    line-height: 40px; }
    .priceBox li p {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      text-align: left;
      padding: 0 20%;
      color: #777777; }

.priceBoxTop {
  padding-top: 7.5%; }

.priceBoxTop p:first-of-type {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  margin-top: 2%; }
  .priceBoxTop p:first-of-type:after {
    content: "";
    border-bottom: 1.5px solid black;
    padding-top: 4%;
    width: 10%;
    height: 1px;
    display: block;
    margin: auto; }

.priceBoxTop p:last-of-type {
  font-size: 40px;
  margin: 10% 0; }
  .priceBoxTop p:last-of-type span {
    font-size: 14px;
    color: #777777;
    font-weight: 300;
    text-transform: lowercase; }
  .priceBoxTop p:last-of-type sup {
    font-size: 25px; }

.priceBoxBottom {
  padding-bottom: 15%; }
  .priceBoxBottom a {
    height: 52px;
    width: 178px;
    background: #e85889;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    margin-top: 7.5%; }
    .priceBoxBottom a:hover {
      background: #463f8c; }

.priceBox2 {
  margin: 2% 0; }

.schedule {
  background: #fafafa;
  padding-top: 5%;
  margin-top: 5%; }

.asideAndFlexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.scheduleText {
  text-align: center;
  margin-bottom: 7.5%; }
  .scheduleText p {
    margin: 1% 0 0 0;
    font-size: 17px;
    color: #777777;
    font-style: italic; }
  .scheduleText:after {
    content: "";
    border-bottom: 1.5px solid red;
    padding-top: 3%;
    width: 7.5%;
    height: 1px;
    display: block;
    margin: auto; }

.scheduleFlexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%; }

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 5%; }
  .event h6 {
    font-weight: 700;
    line-height: 28px;
    margin: 1.5% 0;
    text-transform: capitalize; }
  .event img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 2%;
    border: 7px solid #ececec; }
  .event p:first-of-type {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: "Raleway", sans-serif; }
    .event p:first-of-type span {
      color: #777777;
      font-size: 13px;
      font-weight: 400;
      padding-left: 3%;
      text-transform: uppercase; }
  .event p:last-of-type {
    color: #777777;
    font-size: 13px;
    line-height: 24px;
    margin-top: 0; }

aside {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25%; }

.days {
  height: 90px;
  width: 280px;
  border: 1px solid #ececec;
  padding-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }
  .days p:first-of-type {
    color: #777777;
    margin: 0;
    font-size: 13px;
    font-weight: 400; }
  .days p:last-of-type {
    font-size: 18px;
    margin: 1% 0 0 0;
    font-weight: 500;
    text-transform: capitalize; }

.days:hover {
  background: #e85889; }
  .days:hover p:first-of-type {
    color: #f8c4d6; }
  .days:hover p:last-of-type {
    color: white; }

.day3 {
  background: #e85889; }
  .day3 p:first-of-type {
    color: #f8c4d6; }
  .day3 p:last-of-type {
    color: white; }

.testimonial {
  background: #463f8c;
  padding: 5% 0; }

.imagesAndQuoteFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.testimonialImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 2.5%; }
  .testimonialImages img {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .testimonialImages .testimonialImage1 {
    border: 6px solid #ececec; }
  .testimonialImages img.testimonialImage1 {
    width: 52px;
    height: 52px; }

.testimonialQuote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 45%; }
  .testimonialQuote p:first-of-type {
    font-size: 30px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 46px;
    margin-top: 0;
    color: #fafafa; }
  .testimonialQuote p:nth-of-type(2) {
    color: #bfb9f6;
    font-size: 17px;
    font-style: italic;
    line-height: 28px; }
  .testimonialQuote p:last-of-type {
    font-size: 18px;
    font-weight: 600;
    color: #fafafa;
    margin-bottom: 0; }
    .testimonialQuote p:last-of-type span {
      color: #bfb9f6;
      font-size: 17px;
      font-style: italic;
      font-weight: 400; }

.smartQuote {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 110px;
  font-family: PlantagenetCherokee;
  font-weight: 400;
  color: #fafafa;
  margin-right: 5%; }

.latestNews {
  padding: 5% 0; }

.latestNewsText {
  text-align: center;
  margin-bottom: 7.5%; }
  .latestNewsText p {
    margin: 1% 0 0 0;
    font-size: 17px;
    color: #777777;
    font-style: italic; }
  .latestNewsText:after {
    content: "";
    border-bottom: 1.5px solid red;
    padding-top: 3%;
    width: 7.5%;
    height: 1px;
    display: block;
    margin: auto; }

.newsGalleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  .newsGalleryGrid .newsItem {
    background-color: #fafafa;
    height: 280px;
    text-align: left; }
    .newsGalleryGrid .newsItem a:not(:nth-child(2)) {
      height: 52px;
      width: 178px;
      background: #e85889;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      display: block;
      margin: 0 auto auto 10%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 5px;
      -webkit-transition: background 0.5s ease;
      -o-transition: background 0.5s ease;
      transition: background 0.5s ease;
      margin-top: 7.5%; }
    .newsGalleryGrid .newsItem img {
      display: block;
      width: 100%; }
    .newsGalleryGrid .newsItem p {
      padding-left: 10%; }
    .newsGalleryGrid .newsItem p:first-of-type {
      font-family: "Raleway", sans-serif;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 0;
      line-height: 26px;
      margin-bottom: 1%;
      text-transform: capitalize; }
    .newsGalleryGrid .newsItem p:nth-of-type(2) {
      color: #ababab;
      font-size: 13px;
      font-weight: 400;
      line-height: 26px;
      margin-top: 0; }
      .newsGalleryGrid .newsItem p:nth-of-type(2):after {
        content: "";
        border-bottom: 1.5px solid #e0e0e0;
        padding-top: 3%;
        width: 20%;
        height: 1px;
        display: block;
        margin-bottom: 10%; }
    .newsGalleryGrid .newsItem p:last-of-type {
      font-size: 14px;
      color: #777777;
      line-height: 26px; }

.newsItem5Top {
  background: #463f8c;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-weight: 100;
  font-size: 25px; }
  .newsItem5Top a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 5%; }

.newsItem .newsItem5Bottom a.item5Link {
  margin-top: 17%; }

.newsletter {
  padding: 5% 0;
  background: url(././images/white-pattern-bg.png);
  text-align: center; }
  .newsletter h3 {
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 3%; }
  .newsletter input {
    height: 48px;
    font-family: "Poppins", sans-serif;
    margin-right: 1%; }
    .newsletter input:first-of-type {
      width: 620px;
      border: none;
      border-radius: 5px;
      text-transform: capitalize;
      padding-left: 5%;
      color: #999999; }
    .newsletter input:last-of-type {
      width: 160px;
      background: #e85889;
      border: none;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      font-size: 14px; }
